nodered/flows (9).json
[
    {
        "id": "f934f77c78ca1d43",
        "type": "tab",
        "label": "Project Reminder",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b2d7c7b3679c9c1",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a6c621e18dcabfd2",
            "b93a197cddef327e",
            "2c703af438f27223",
            "a39d74594f52484a"
        ],
        "x": 14,
        "y": 79,
        "w": 352,
        "h": 122
    },
    {
        "id": "1ad4158e6a0d2660",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "64cc34bb2a5c701c",
            "a697f6df3b48d012",
            "e64e7316de7b1c3a",
            "3cc0fac2530e36b2",
            "5c85566b7b7ef976",
            "b036bba92824178c",
            "5eb2172020f08692",
            "3b254ad0b7fe73c3",
            "217c7ca1bf1fe0c1",
            "dc9f959d8c4be735",
            "9fed0216679ec598",
            "71ceabcce714e496",
            "8976237d2b59ceb3",
            "3951e6970b87ebc8",
            "33511e492e6a6d92",
            "d27a0173ead6b57c",
            "ab9db9242916d969",
            "3942c911664da9e2",
            "3481bc0a6f47b3fc",
            "5da913237604ee3d",
            "52454f297bb02eed",
            "4d1c2fbc572f0e4d",
            "b368e9d355b26135",
            "bfb734fa7e8b37ae"
        ],
        "x": 454,
        "y": 99,
        "w": 1352,
        "h": 502
    },
    {
        "id": "16bac621d0d37b33",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c4e33f49e8267a9d",
            "e815f7c7548c15b4",
            "8f3c47a6419adfdf",
            "3ad105f2a7095ae5",
            "6596c31583baf7c3",
            "3b9f48cc1550db36",
            "797a74d4efe73167",
            "b82c56c91ed6fafb",
            "c9b16b491ea8cee5",
            "a7d9e32ec7eff56e",
            "94f8012ef2c8449c",
            "3a04bb84f0840c8a",
            "12051a7b6303ecc7",
            "db26abe7bd384430",
            "0a2238e5207864a3",
            "108772ac7e3b42cc",
            "b6b1b947b45ca7a9",
            "40f4c271d30c5063",
            "d0643fd406cafa47",
            "068161d5435ef714",
            "90ceb65dfe6860ad",
            "4b1f22b8dbb28a17",
            "ec5ca0b2ddb0a087",
            "38b0e30e1abaee60"
        ],
        "x": 454,
        "y": 719,
        "w": 1352,
        "h": 502
    },
    {
        "id": "967defdbfc84c83f",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3aea4d24b7eb8d8f",
            "712aa92ffc742ce9",
            "d5883387ef9e8bd5",
            "573d847b41e6f009",
            "2c3743629dc6280f",
            "b1e37e650a44dbbd",
            "862659652953c19e",
            "fb5ca7442cd89a7c",
            "5b2cb834f15a6f69",
            "42ef9de715f703da",
            "4f38edc17ab8e2b9",
            "b5b781391ce0e4a8",
            "e9ab3999a8a55daa",
            "50409533d334e011",
            "d37c809fd61e57e2",
            "7de06d993a0365be",
            "ba2e6e761ab62cac",
            "25591e6344027f95",
            "2f2d9c2b3b9e17df",
            "3dbf6c18df597a0e",
            "309c49daa613a261",
            "beaf180aaa0cefe8",
            "a9d87fa450594e14",
            "548924632d51f07a"
        ],
        "x": 434,
        "y": 1299,
        "w": 1352,
        "h": 502
    },
    {
        "id": "2326702fb5963815",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e5a06df1b0593c88",
            "9867ddf90e51399a",
            "aa6775a4c6fc09ae",
            "964f7b8b548576b6",
            "c4ea80ca4fd52afb",
            "a709f12f1a29fab1",
            "74bf8296a462ff29",
            "895a3e46f83377f4",
            "9b59e8152172a3ea",
            "aea74eaa1fc0966f",
            "b6a0c0f1616c2569",
            "43867e087ca807e1",
            "569d454f7fe8910f",
            "53ac635dd42255ab",
            "fd3e7802b0c0a316",
            "20e56eaf4962ed19",
            "6d78dd07f303bef1",
            "67931c3729ae8646",
            "7e6448e47c419693",
            "d554251e35451609",
            "d69f481f4c8aa310",
            "aebfeaf7f472745b",
            "f33fd944da6037c9",
            "864d98e17a1e45b4"
        ],
        "x": 434,
        "y": 1879,
        "w": 1352,
        "h": 502
    },
    {
        "id": "2218945a9128a9bb",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32fde6b7b8861eed",
            "1898d26f69dd0f2b",
            "9792c173b85c6df2",
            "3b23361b9904ce25",
            "814cc842995a4ea8",
            "21f25a13ef5a88b9",
            "fc33919dcf1f8146",
            "48bc25b1a14da578",
            "c753166d6a5868f8",
            "4edd627cc8136331",
            "56603eb209447631",
            "2702f51b8ef7512e",
            "3162ce7e4c081862",
            "c591c3d3b457761f",
            "8920e31300c5f781",
            "092e015618861ea0",
            "32ba06b293a7038e",
            "ad5357fc380642fd",
            "d172a3943ca79151",
            "a827bcc18b0f0c26",
            "0c86f4b3836e98e5",
            "98c4982a29d75aef",
            "5d33dd4e584e7b6e",
            "b686a743bc68f065"
        ],
        "x": 414,
        "y": 2459,
        "w": 1352,
        "h": 502
    },
    {
        "id": "3688e2446f72fbdc",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "80563a52b3e343a8",
            "6016c61e6a70defa",
            "f30aeaba372850aa",
            "fbd1e1fb53d021ae",
            "d365e18e130e87eb",
            "d44bb28b4c15beb0",
            "01a478a58c23170c",
            "b27127bc5051f555",
            "e857e7ec44878355",
            "9f67486eeb6aad05",
            "0b638775f8e6e461",
            "6d17197a96724f5e",
            "bc3cc6556b39338c",
            "c4260ed56b0f3d4e",
            "4c6301291c8b9550",
            "a192c37773d225d7",
            "d105cd1a883afce2",
            "f41490ee342ebfcc",
            "9d5c139e7276b551",
            "f1f2a1fdf2384a57",
            "41aacbe44ebf8980",
            "391644ed0e97177c",
            "326f1e632aaf96a1",
            "8d1e14cf7216eca0"
        ],
        "x": 1854,
        "y": 99,
        "w": 1352,
        "h": 502
    },
    {
        "id": "4cd3de97543c3192",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "87b93ac270a77191",
            "e17cc8cceec1eaaf",
            "11a566f0a43ab195",
            "b385b2be5ba7e050",
            "4d276c187b21d324",
            "2256e21b7e6e21e6",
            "e6a0da2264f9fbe3",
            "f3416528e38331c7",
            "e07905e2c7baa9dc",
            "f37c7989ba277c9b",
            "3fc6e58b2333eb6a",
            "213511c23451128d",
            "7f3f6a37046d3b78",
            "38e4da9f29ab4e06",
            "a50feba5902bed9d",
            "37b9d75070d6a2dc",
            "ce1c40032ad105a3",
            "ac959ccb4a51f9cc",
            "ce0418af66be462c",
            "5c16ab8de5b9c46f",
            "f0bdff10207a479a",
            "fac912712a97586c",
            "daba6e19a70ba030",
            "fabfdc02bc3f6dd6"
        ],
        "x": 1854,
        "y": 719,
        "w": 1352,
        "h": 502
    },
    {
        "id": "35c20e169c6b281a",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "88ceb9bbb9cc7084",
            "ec3d454e6197977a",
            "159554c71fe3386a",
            "525d48bba9ca0bbc",
            "1898b4c89d9b79d6",
            "ec3581a539fd5589",
            "db217abfccb36e22",
            "3a6f9c8c89e22728",
            "f863a48f40ed8440",
            "4c31c5229f09e6cf",
            "e77ea7a3cab6e0a8",
            "7663da50962d8d2b",
            "65a0d215f81866bb",
            "ca5735e3d28fc322",
            "b4e0b3f71bca318e",
            "eb474a2c93bb2d88",
            "d25a9546bd5db36d",
            "1cccec715085c2da",
            "1e4705cc163da038",
            "820a62f4ef7289ea",
            "5710b868745744e0",
            "69fc0ae16dff6914",
            "8625eb2947fe2f37",
            "ce3488af933ad116"
        ],
        "x": 1854,
        "y": 1299,
        "w": 1352,
        "h": 502
    },
    {
        "id": "04a3e43dea53dbdc",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d4961ad3b45267c3",
            "0b59e4d27465fe3c",
            "c2f624cd88576c61",
            "0629fedb4534ac13",
            "bfebdd0c31064928",
            "af5ccf420c6bed81",
            "bbb7ea9a23b71680",
            "39e3b0f405c6a000",
            "2ed4e4906f5f868f",
            "48ef4ad524c902a1",
            "a7b415c2aa13b5da",
            "c93ce9551c8363af",
            "bf7a1f2cbacb007b",
            "f19a7669f51514d2",
            "77bac628ef05609e",
            "d2f03a11488b52f5",
            "3ab2b49617dc9d5d",
            "d67d0b01105135c5",
            "ec989e24eba65c7f",
            "d6b1b597faa57f29",
            "c80b42be87b752c0",
            "e8ba18191c56ae1a",
            "f820d9775d01d39b",
            "bd1646fea097cf9d"
        ],
        "x": 1854,
        "y": 1879,
        "w": 1352,
        "h": 502
    },
    {
        "id": "148aa75564f355df",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cee13b32bb47f8e8",
            "0f90c68786a65e73",
            "5d5a7a8d82ce2b42",
            "0161b92cc804e718",
            "d7baef4657442953",
            "8e9f735e03f61bb7",
            "3a9109ee68871feb",
            "199d7a3c35e3c9d7",
            "61d1ef2c3298fee0",
            "06dc3001d118a5c9",
            "1186c6f6083691d9",
            "e069763e522c8f4a",
            "7ffa5ea728d3e196",
            "ad509bede8baace8",
            "d0b7a1afd2f94bc5",
            "e486a82fc7e2c3a7",
            "d2befa162eb5c717",
            "3bae7a5209732256",
            "efbd2a0e1fc13433",
            "59983af57c63cf5e",
            "7e4a16dfd8ec8d98",
            "73dec4e64cc5f140",
            "106bd7ca95c20110",
            "dbd54d7cbe19631c"
        ],
        "x": 1854,
        "y": 2479,
        "w": 1352,
        "h": 502
    },
    {
        "id": "ef5015eca82c87dd",
        "type": "ui_template",
        "z": "f934f77c78ca1d43",
        "group": "",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-color:#121212!important;\n    }\n    .md-toolbar-tools{\n         background-color:#1E1E1E!important;\n    \n    }\n    .nr-dashboard-theme ui-card-panel{\n        background-color:#1E1E1E!important;\n        border:0!important;\n       \n    }\n    md-card{\n        background-color:#1E1E1E!important;\n        \n    }\n    md-card p{\n        color:#fff!important;\n    }\n    \n    text{\n    background-color:#fff!important;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-gauge text {\n    fill: #eeeeee;\n    margin: 8px;\n}\n    \n    .md-button{\n\n    }\n        \n    \n    .md-button:hover{\n  \n    }\n        \n    input, label{\n        color:#fff!important;\n    }   \n    \n   .nr-dashboard-text p{\n        font-size:30px!important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 100,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a6c621e18dcabfd2",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "label": "Set Waktu Universal",
        "group": "864d8920e81a455a",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2c703af438f27223"
            ]
        ]
    },
    {
        "id": "b93a197cddef327e",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "group": "864d8920e81a455a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Universal",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "a39d74594f52484a"
            ]
        ]
    },
    {
        "id": "2c703af438f27223",
        "type": "link out",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "mode": "link",
        "links": [
            "0a2238e5207864a3",
            "33511e492e6a6d92",
            "4c6301291c8b9550",
            "77bac628ef05609e",
            "7bd446338dda5a9b",
            "8920e31300c5f781",
            "a11488adfce6df02",
            "a50feba5902bed9d",
            "b4e0b3f71bca318e",
            "d0b7a1afd2f94bc5",
            "d37c809fd61e57e2",
            "fd3e7802b0c0a316",
            "eb37c42318163c7a",
            "77d03247275df48b",
            "3efa5add1fd298ae",
            "0523862ba5ec5300",
            "17d06882ed5fbf02",
            "f3727efae453f77f",
            "cae591d4911f2fc6",
            "21f100f4a54df5c4",
            "05c2a773b129f3ab",
            "a920fac65fd5cbfc",
            "68779b477045a7bc",
            "57becc489f8dd6b4",
            "9aad45c19f7c5b24",
            "5bca80f1cc702b5f",
            "12a729baf1be06cc",
            "a44345c767c8b2cc",
            "23ffe03c161c6255",
            "08299e0149288e5c",
            "da969b6408adecfd",
            "77bc2b40fd64a7ee",
            "6518174cec206c36",
            "e176ba4e3812a40f",
            "3ab5615b0a265988",
            "f293a2ee18712e3b",
            "1c32456b74cbc100",
            "2906aabbf1c63237",
            "9e7f2ed56f096cae",
            "3f8aad779ee2acb4",
            "3a364b462f7d1da8",
            "806dbd695f9791a8"
        ],
        "x": 325,
        "y": 120,
        "wires": []
    },
    {
        "id": "a39d74594f52484a",
        "type": "link out",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "mode": "link",
        "links": [
            "0086189cc737436c",
            "092e015618861ea0",
            "108772ac7e3b42cc",
            "20e56eaf4962ed19",
            "37b9d75070d6a2dc",
            "7de06d993a0365be",
            "a192c37773d225d7",
            "d27a0173ead6b57c",
            "d2f03a11488b52f5",
            "de9f476681167972",
            "e486a82fc7e2c3a7",
            "eb474a2c93bb2d88",
            "72548b1cce1e30c3",
            "ebf6441582f12d62",
            "17eb48b18ceddba9",
            "aa2947ea34fef715",
            "88b9e6ae48a34fbe",
            "50608a87b96a9c13",
            "276ba5cadab96c31",
            "76652547ed958f5c",
            "42172089fab57d23",
            "21557fa33670b3d7",
            "a12fdcc39fe6ac0c",
            "5846f47ef83f9b58",
            "ff4774566e8c4496",
            "3caa8bbde72ceacd",
            "2e17cfb4452bf3df",
            "992ffb8cd8d8162d",
            "d9dabcb4b23ef829",
            "5c37773ef8490780",
            "dcf67eb4ba253ec1",
            "61e9853b84ea4278",
            "fefbb29b78a20b92",
            "7975127a6a2beaee",
            "ddc0aa57fc2b6732",
            "0059b3be942cdc35",
            "78fec078ba955cb4",
            "a399750fe1c21669",
            "bb9355aff0b1b9f1",
            "30eaa5773935cf4a",
            "34509ff8a9341833",
            "c7c66218b2cb803c"
        ],
        "x": 315,
        "y": 160,
        "wires": []
    },
    {
        "id": "64cc34bb2a5c701c",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "10f37fc7e1b27d50",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1510,
        "y": 460,
        "wires": [
            [
                "5da913237604ee3d",
                "52454f297bb02eed"
            ]
        ]
    },
    {
        "id": "a697f6df3b48d012",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "group": "10f37fc7e1b27d50",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "b036bba92824178c"
            ]
        ]
    },
    {
        "id": "e64e7316de7b1c3a",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 240,
        "wires": [
            [
                "3cc0fac2530e36b2"
            ]
        ]
    },
    {
        "id": "3cc0fac2530e36b2",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "Countdown Timer",
        "group": "10f37fc7e1b27d50",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1590,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c85566b7b7ef976",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "b036bba92824178c"
            ]
        ]
    },
    {
        "id": "b036bba92824178c",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "ab9db9242916d969",
                "8976237d2b59ceb3"
            ],
            [
                "e64e7316de7b1c3a",
                "3b254ad0b7fe73c3",
                "dc9f959d8c4be735",
                "3942c911664da9e2"
            ]
        ]
    },
    {
        "id": "5eb2172020f08692",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "send time",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1620,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b254ad0b7fe73c3",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "5eb2172020f08692",
                "217c7ca1bf1fe0c1"
            ]
        ]
    },
    {
        "id": "217c7ca1bf1fe0c1",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "group": "10f37fc7e1b27d50",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1610,
        "y": 260,
        "wires": []
    },
    {
        "id": "dc9f959d8c4be735",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "71ceabcce714e496"
            ]
        ]
    },
    {
        "id": "9fed0216679ec598",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "send stop triger ",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1600,
        "y": 380,
        "wires": []
    },
    {
        "id": "71ceabcce714e496",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 380,
        "wires": [
            [
                "9fed0216679ec598"
            ]
        ]
    },
    {
        "id": "8976237d2b59ceb3",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "notification",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "3951e6970b87ebc8",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "label": "Set Waktu",
        "group": "10f37fc7e1b27d50",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "5c85566b7b7ef976"
            ]
        ]
    },
    {
        "id": "33511e492e6a6d92",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "node1link",
        "links": [
            "2c703af438f27223"
        ],
        "x": 565,
        "y": 200,
        "wires": [
            [
                "5c85566b7b7ef976"
            ]
        ]
    },
    {
        "id": "d27a0173ead6b57c",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a"
        ],
        "x": 715,
        "y": 280,
        "wires": [
            [
                "b036bba92824178c"
            ]
        ]
    },
    {
        "id": "ab9db9242916d969",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "3942c911664da9e2",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "3481bc0a6f47b3fc"
            ]
        ]
    },
    {
        "id": "3481bc0a6f47b3fc",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "order": 1,
        "group": "10f37fc7e1b27d50",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1430,
        "y": 320,
        "wires": []
    },
    {
        "id": "5da913237604ee3d",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "send stop triger ",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1700,
        "y": 440,
        "wires": []
    },
    {
        "id": "52454f297bb02eed",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 560,
        "wires": []
    },
    {
        "id": "4d1c2fbc572f0e4d",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "topic": "devreminder/node1/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "b368e9d355b26135",
                "bfb734fa7e8b37ae"
            ]
        ]
    },
    {
        "id": "b368e9d355b26135",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "group": "10f37fc7e1b27d50",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "bfb734fa7e8b37ae",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "1ad4158e6a0d2660",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "c4e33f49e8267a9d",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "c0a2a6c8fc08b789",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1510,
        "y": 1080,
        "wires": [
            [
                "068161d5435ef714",
                "90ceb65dfe6860ad"
            ]
        ]
    },
    {
        "id": "e815f7c7548c15b4",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "group": "c0a2a6c8fc08b789",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 530,
        "y": 860,
        "wires": [
            [
                "3b9f48cc1550db36"
            ]
        ]
    },
    {
        "id": "8f3c47a6419adfdf",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 860,
        "wires": [
            [
                "3ad105f2a7095ae5"
            ]
        ]
    },
    {
        "id": "3ad105f2a7095ae5",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "Countdown Timer",
        "group": "c0a2a6c8fc08b789",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1590,
        "y": 820,
        "wires": []
    },
    {
        "id": "6596c31583baf7c3",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 760,
        "wires": [
            [
                "3b9f48cc1550db36"
            ]
        ]
    },
    {
        "id": "3b9f48cc1550db36",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "b6b1b947b45ca7a9",
                "12051a7b6303ecc7"
            ],
            [
                "8f3c47a6419adfdf",
                "b82c56c91ed6fafb",
                "a7d9e32ec7eff56e",
                "40f4c271d30c5063"
            ]
        ]
    },
    {
        "id": "797a74d4efe73167",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "send time",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1620,
        "y": 920,
        "wires": []
    },
    {
        "id": "b82c56c91ed6fafb",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 900,
        "wires": [
            [
                "797a74d4efe73167",
                "c9b16b491ea8cee5"
            ]
        ]
    },
    {
        "id": "c9b16b491ea8cee5",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "group": "c0a2a6c8fc08b789",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1610,
        "y": 880,
        "wires": []
    },
    {
        "id": "a7d9e32ec7eff56e",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 960,
        "wires": [
            [
                "3a04bb84f0840c8a"
            ]
        ]
    },
    {
        "id": "94f8012ef2c8449c",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "send stop triger ",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1600,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3a04bb84f0840c8a",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 1000,
        "wires": [
            [
                "94f8012ef2c8449c"
            ]
        ]
    },
    {
        "id": "12051a7b6303ecc7",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "notification",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1210,
        "y": 820,
        "wires": []
    },
    {
        "id": "db26abe7bd384430",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "label": "Set Waktu",
        "group": "c0a2a6c8fc08b789",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "6596c31583baf7c3"
            ]
        ]
    },
    {
        "id": "0a2238e5207864a3",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 565,
        "y": 820,
        "wires": [
            [
                "6596c31583baf7c3"
            ]
        ]
    },
    {
        "id": "108772ac7e3b42cc",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 715,
        "y": 900,
        "wires": [
            [
                "3b9f48cc1550db36"
            ]
        ]
    },
    {
        "id": "b6b1b947b45ca7a9",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 780,
        "wires": []
    },
    {
        "id": "40f4c271d30c5063",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 920,
        "wires": [
            [
                "d0643fd406cafa47"
            ]
        ]
    },
    {
        "id": "d0643fd406cafa47",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "order": 1,
        "group": "c0a2a6c8fc08b789",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1430,
        "y": 940,
        "wires": []
    },
    {
        "id": "068161d5435ef714",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "send stop triger ",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1700,
        "y": 1060,
        "wires": []
    },
    {
        "id": "90ceb65dfe6860ad",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4b1f22b8dbb28a17",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "topic": "devreminder/node2/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 980,
        "wires": [
            [
                "ec5ca0b2ddb0a087",
                "38b0e30e1abaee60"
            ]
        ]
    },
    {
        "id": "ec5ca0b2ddb0a087",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "group": "c0a2a6c8fc08b789",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 890,
        "y": 1060,
        "wires": []
    },
    {
        "id": "38b0e30e1abaee60",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "16bac621d0d37b33",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3aea4d24b7eb8d8f",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "a1e0702da29b2a0f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1490,
        "y": 1660,
        "wires": [
            [
                "3dbf6c18df597a0e",
                "309c49daa613a261"
            ]
        ]
    },
    {
        "id": "712aa92ffc742ce9",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "group": "a1e0702da29b2a0f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "b1e37e650a44dbbd"
            ]
        ]
    },
    {
        "id": "d5883387ef9e8bd5",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1440,
        "wires": [
            [
                "573d847b41e6f009"
            ]
        ]
    },
    {
        "id": "573d847b41e6f009",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "Countdown Timer",
        "group": "a1e0702da29b2a0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2c3743629dc6280f",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1340,
        "wires": [
            [
                "b1e37e650a44dbbd"
            ]
        ]
    },
    {
        "id": "b1e37e650a44dbbd",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 890,
        "y": 1440,
        "wires": [
            [
                "ba2e6e761ab62cac",
                "e9ab3999a8a55daa"
            ],
            [
                "d5883387ef9e8bd5",
                "fb5ca7442cd89a7c",
                "42ef9de715f703da",
                "25591e6344027f95"
            ]
        ]
    },
    {
        "id": "862659652953c19e",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "send time",
        "topic": "devreminder/node3/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1600,
        "y": 1500,
        "wires": []
    },
    {
        "id": "fb5ca7442cd89a7c",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1480,
        "wires": [
            [
                "862659652953c19e",
                "5b2cb834f15a6f69"
            ]
        ]
    },
    {
        "id": "5b2cb834f15a6f69",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "group": "a1e0702da29b2a0f",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1590,
        "y": 1460,
        "wires": []
    },
    {
        "id": "42ef9de715f703da",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1540,
        "wires": [
            [
                "b5b781391ce0e4a8"
            ]
        ]
    },
    {
        "id": "4f38edc17ab8e2b9",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "send stop triger ",
        "topic": "devreminder/node3/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1580,
        "y": 1580,
        "wires": []
    },
    {
        "id": "b5b781391ce0e4a8",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 1580,
        "wires": [
            [
                "4f38edc17ab8e2b9"
            ]
        ]
    },
    {
        "id": "e9ab3999a8a55daa",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "notification",
        "topic": "devreminder/node3/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1190,
        "y": 1400,
        "wires": []
    },
    {
        "id": "50409533d334e011",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "label": "Set Waktu",
        "group": "a1e0702da29b2a0f",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 530,
        "y": 1340,
        "wires": [
            [
                "2c3743629dc6280f"
            ]
        ]
    },
    {
        "id": "d37c809fd61e57e2",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 545,
        "y": 1400,
        "wires": [
            [
                "2c3743629dc6280f"
            ]
        ]
    },
    {
        "id": "7de06d993a0365be",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 695,
        "y": 1480,
        "wires": [
            [
                "b1e37e650a44dbbd"
            ]
        ]
    },
    {
        "id": "ba2e6e761ab62cac",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1360,
        "wires": []
    },
    {
        "id": "25591e6344027f95",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1500,
        "wires": [
            [
                "2f2d9c2b3b9e17df"
            ]
        ]
    },
    {
        "id": "2f2d9c2b3b9e17df",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "order": 1,
        "group": "a1e0702da29b2a0f",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1410,
        "y": 1520,
        "wires": []
    },
    {
        "id": "3dbf6c18df597a0e",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "send stop triger ",
        "topic": "devreminder/node3/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1680,
        "y": 1640,
        "wires": []
    },
    {
        "id": "309c49daa613a261",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 1760,
        "wires": []
    },
    {
        "id": "beaf180aaa0cefe8",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "topic": "devreminder/node3/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 1560,
        "wires": [
            [
                "a9d87fa450594e14",
                "548924632d51f07a"
            ]
        ]
    },
    {
        "id": "a9d87fa450594e14",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "group": "a1e0702da29b2a0f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 870,
        "y": 1640,
        "wires": []
    },
    {
        "id": "548924632d51f07a",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "967defdbfc84c83f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e5a06df1b0593c88",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "f3e9389655fcea5b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1490,
        "y": 2240,
        "wires": [
            [
                "d554251e35451609",
                "d69f481f4c8aa310"
            ]
        ]
    },
    {
        "id": "9867ddf90e51399a",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "group": "f3e9389655fcea5b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 2020,
        "wires": [
            [
                "a709f12f1a29fab1"
            ]
        ]
    },
    {
        "id": "aa6775a4c6fc09ae",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 2020,
        "wires": [
            [
                "964f7b8b548576b6"
            ]
        ]
    },
    {
        "id": "964f7b8b548576b6",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "Countdown Timer",
        "group": "f3e9389655fcea5b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1570,
        "y": 1980,
        "wires": []
    },
    {
        "id": "c4ea80ca4fd52afb",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1920,
        "wires": [
            [
                "a709f12f1a29fab1"
            ]
        ]
    },
    {
        "id": "a709f12f1a29fab1",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 890,
        "y": 2020,
        "wires": [
            [
                "6d78dd07f303bef1",
                "569d454f7fe8910f"
            ],
            [
                "aa6775a4c6fc09ae",
                "895a3e46f83377f4",
                "aea74eaa1fc0966f",
                "67931c3729ae8646"
            ]
        ]
    },
    {
        "id": "74bf8296a462ff29",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "send time",
        "topic": "devreminder/node4/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1600,
        "y": 2080,
        "wires": []
    },
    {
        "id": "895a3e46f83377f4",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2060,
        "wires": [
            [
                "74bf8296a462ff29",
                "9b59e8152172a3ea"
            ]
        ]
    },
    {
        "id": "9b59e8152172a3ea",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "group": "f3e9389655fcea5b",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1590,
        "y": 2040,
        "wires": []
    },
    {
        "id": "aea74eaa1fc0966f",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 2120,
        "wires": [
            [
                "43867e087ca807e1"
            ]
        ]
    },
    {
        "id": "b6a0c0f1616c2569",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "send stop triger ",
        "topic": "devreminder/node4/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1580,
        "y": 2160,
        "wires": []
    },
    {
        "id": "43867e087ca807e1",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 2160,
        "wires": [
            [
                "b6a0c0f1616c2569"
            ]
        ]
    },
    {
        "id": "569d454f7fe8910f",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "notification",
        "topic": "devreminder/node4/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1190,
        "y": 1980,
        "wires": []
    },
    {
        "id": "53ac635dd42255ab",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "label": "Set Waktu",
        "group": "f3e9389655fcea5b",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 530,
        "y": 1920,
        "wires": [
            [
                "c4ea80ca4fd52afb"
            ]
        ]
    },
    {
        "id": "fd3e7802b0c0a316",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 545,
        "y": 1980,
        "wires": [
            [
                "c4ea80ca4fd52afb"
            ]
        ]
    },
    {
        "id": "20e56eaf4962ed19",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 695,
        "y": 2060,
        "wires": [
            [
                "a709f12f1a29fab1"
            ]
        ]
    },
    {
        "id": "6d78dd07f303bef1",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1940,
        "wires": []
    },
    {
        "id": "67931c3729ae8646",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2080,
        "wires": [
            [
                "7e6448e47c419693"
            ]
        ]
    },
    {
        "id": "7e6448e47c419693",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "order": 1,
        "group": "f3e9389655fcea5b",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1410,
        "y": 2100,
        "wires": []
    },
    {
        "id": "d554251e35451609",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "send stop triger ",
        "topic": "devreminder/node4/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1680,
        "y": 2220,
        "wires": []
    },
    {
        "id": "d69f481f4c8aa310",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 2340,
        "wires": []
    },
    {
        "id": "aebfeaf7f472745b",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "topic": "devreminder/node4/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 2140,
        "wires": [
            [
                "f33fd944da6037c9",
                "864d98e17a1e45b4"
            ]
        ]
    },
    {
        "id": "f33fd944da6037c9",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "group": "f3e9389655fcea5b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 870,
        "y": 2220,
        "wires": []
    },
    {
        "id": "864d98e17a1e45b4",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "2326702fb5963815",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 2300,
        "wires": []
    },
    {
        "id": "32fde6b7b8861eed",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "206a637632167cea",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1470,
        "y": 2820,
        "wires": [
            [
                "a827bcc18b0f0c26",
                "0c86f4b3836e98e5"
            ]
        ]
    },
    {
        "id": "1898d26f69dd0f2b",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "group": "206a637632167cea",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 490,
        "y": 2600,
        "wires": [
            [
                "21f25a13ef5a88b9"
            ]
        ]
    },
    {
        "id": "9792c173b85c6df2",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2600,
        "wires": [
            [
                "3b23361b9904ce25"
            ]
        ]
    },
    {
        "id": "3b23361b9904ce25",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "Countdown Timer",
        "group": "206a637632167cea",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1550,
        "y": 2560,
        "wires": []
    },
    {
        "id": "814cc842995a4ea8",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2500,
        "wires": [
            [
                "21f25a13ef5a88b9"
            ]
        ]
    },
    {
        "id": "21f25a13ef5a88b9",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 870,
        "y": 2600,
        "wires": [
            [
                "32ba06b293a7038e",
                "3162ce7e4c081862"
            ],
            [
                "9792c173b85c6df2",
                "48bc25b1a14da578",
                "4edd627cc8136331",
                "ad5357fc380642fd"
            ]
        ]
    },
    {
        "id": "fc33919dcf1f8146",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "send time",
        "topic": "devreminder/node5/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1580,
        "y": 2660,
        "wires": []
    },
    {
        "id": "48bc25b1a14da578",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 2640,
        "wires": [
            [
                "fc33919dcf1f8146",
                "c753166d6a5868f8"
            ]
        ]
    },
    {
        "id": "c753166d6a5868f8",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "group": "206a637632167cea",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1570,
        "y": 2620,
        "wires": []
    },
    {
        "id": "4edd627cc8136331",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2700,
        "wires": [
            [
                "2702f51b8ef7512e"
            ]
        ]
    },
    {
        "id": "56603eb209447631",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "send stop triger ",
        "topic": "devreminder/node5/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1560,
        "y": 2740,
        "wires": []
    },
    {
        "id": "2702f51b8ef7512e",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 2740,
        "wires": [
            [
                "56603eb209447631"
            ]
        ]
    },
    {
        "id": "3162ce7e4c081862",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "notification",
        "topic": "devreminder/node5/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1170,
        "y": 2560,
        "wires": []
    },
    {
        "id": "c591c3d3b457761f",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "label": "Set Waktu",
        "group": "206a637632167cea",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 510,
        "y": 2500,
        "wires": [
            [
                "814cc842995a4ea8"
            ]
        ]
    },
    {
        "id": "8920e31300c5f781",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 525,
        "y": 2560,
        "wires": [
            [
                "814cc842995a4ea8"
            ]
        ]
    },
    {
        "id": "092e015618861ea0",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 675,
        "y": 2640,
        "wires": [
            [
                "21f25a13ef5a88b9"
            ]
        ]
    },
    {
        "id": "32ba06b293a7038e",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2520,
        "wires": []
    },
    {
        "id": "ad5357fc380642fd",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 2660,
        "wires": [
            [
                "d172a3943ca79151"
            ]
        ]
    },
    {
        "id": "d172a3943ca79151",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "order": 1,
        "group": "206a637632167cea",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1390,
        "y": 2680,
        "wires": []
    },
    {
        "id": "a827bcc18b0f0c26",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "send stop triger ",
        "topic": "devreminder/node5/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 1660,
        "y": 2800,
        "wires": []
    },
    {
        "id": "0c86f4b3836e98e5",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 2920,
        "wires": []
    },
    {
        "id": "98c4982a29d75aef",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "topic": "devreminder/node5/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 2720,
        "wires": [
            [
                "5d33dd4e584e7b6e",
                "b686a743bc68f065"
            ]
        ]
    },
    {
        "id": "5d33dd4e584e7b6e",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "group": "206a637632167cea",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 850,
        "y": 2800,
        "wires": []
    },
    {
        "id": "b686a743bc68f065",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "2218945a9128a9bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 2880,
        "wires": []
    },
    {
        "id": "80563a52b3e343a8",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "645256500ef51085",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2910,
        "y": 460,
        "wires": [
            [
                "f1f2a1fdf2384a57",
                "41aacbe44ebf8980"
            ]
        ]
    },
    {
        "id": "6016c61e6a70defa",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "group": "645256500ef51085",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1930,
        "y": 240,
        "wires": [
            [
                "d44bb28b4c15beb0"
            ]
        ]
    },
    {
        "id": "f30aeaba372850aa",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 240,
        "wires": [
            [
                "fbd1e1fb53d021ae"
            ]
        ]
    },
    {
        "id": "fbd1e1fb53d021ae",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "Countdown Timer",
        "group": "645256500ef51085",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2990,
        "y": 200,
        "wires": []
    },
    {
        "id": "d365e18e130e87eb",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 140,
        "wires": [
            [
                "d44bb28b4c15beb0"
            ]
        ]
    },
    {
        "id": "d44bb28b4c15beb0",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 2310,
        "y": 240,
        "wires": [
            [
                "d105cd1a883afce2",
                "bc3cc6556b39338c"
            ],
            [
                "f30aeaba372850aa",
                "b27127bc5051f555",
                "9f67486eeb6aad05",
                "f41490ee342ebfcc"
            ]
        ]
    },
    {
        "id": "01a478a58c23170c",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "send time",
        "topic": "devreminder/node6/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 3020,
        "y": 300,
        "wires": []
    },
    {
        "id": "b27127bc5051f555",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 280,
        "wires": [
            [
                "01a478a58c23170c",
                "e857e7ec44878355"
            ]
        ]
    },
    {
        "id": "e857e7ec44878355",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "group": "645256500ef51085",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 3010,
        "y": 260,
        "wires": []
    },
    {
        "id": "9f67486eeb6aad05",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 340,
        "wires": [
            [
                "6d17197a96724f5e"
            ]
        ]
    },
    {
        "id": "0b638775f8e6e461",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "send stop triger ",
        "topic": "devreminder/node6/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 3000,
        "y": 380,
        "wires": []
    },
    {
        "id": "6d17197a96724f5e",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2820,
        "y": 380,
        "wires": [
            [
                "0b638775f8e6e461"
            ]
        ]
    },
    {
        "id": "bc3cc6556b39338c",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "notification",
        "topic": "devreminder/node6/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 2610,
        "y": 200,
        "wires": []
    },
    {
        "id": "c4260ed56b0f3d4e",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "label": "Set Waktu",
        "group": "645256500ef51085",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 1950,
        "y": 140,
        "wires": [
            [
                "d365e18e130e87eb"
            ]
        ]
    },
    {
        "id": "4c6301291c8b9550",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 1965,
        "y": 200,
        "wires": [
            [
                "d365e18e130e87eb"
            ]
        ]
    },
    {
        "id": "a192c37773d225d7",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 2115,
        "y": 280,
        "wires": [
            [
                "d44bb28b4c15beb0"
            ]
        ]
    },
    {
        "id": "d105cd1a883afce2",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 160,
        "wires": []
    },
    {
        "id": "f41490ee342ebfcc",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 300,
        "wires": [
            [
                "9d5c139e7276b551"
            ]
        ]
    },
    {
        "id": "9d5c139e7276b551",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "order": 1,
        "group": "645256500ef51085",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 2830,
        "y": 320,
        "wires": []
    },
    {
        "id": "f1f2a1fdf2384a57",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "send stop triger ",
        "topic": "devreminder/node6/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 3100,
        "y": 440,
        "wires": []
    },
    {
        "id": "41aacbe44ebf8980",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2990,
        "y": 560,
        "wires": []
    },
    {
        "id": "391644ed0e97177c",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "topic": "devreminder/node6/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2160,
        "y": 360,
        "wires": [
            [
                "326f1e632aaf96a1",
                "8d1e14cf7216eca0"
            ]
        ]
    },
    {
        "id": "326f1e632aaf96a1",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "group": "645256500ef51085",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 2290,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d1e14cf7216eca0",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "3688e2446f72fbdc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 520,
        "wires": []
    },
    {
        "id": "87b93ac270a77191",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "bc478b77d9baae89",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2910,
        "y": 1080,
        "wires": [
            [
                "5c16ab8de5b9c46f",
                "f0bdff10207a479a"
            ]
        ]
    },
    {
        "id": "e17cc8cceec1eaaf",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "group": "bc478b77d9baae89",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1930,
        "y": 860,
        "wires": [
            [
                "2256e21b7e6e21e6"
            ]
        ]
    },
    {
        "id": "11a566f0a43ab195",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 860,
        "wires": [
            [
                "b385b2be5ba7e050"
            ]
        ]
    },
    {
        "id": "b385b2be5ba7e050",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "Countdown Timer",
        "group": "bc478b77d9baae89",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2990,
        "y": 820,
        "wires": []
    },
    {
        "id": "4d276c187b21d324",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 760,
        "wires": [
            [
                "2256e21b7e6e21e6"
            ]
        ]
    },
    {
        "id": "2256e21b7e6e21e6",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 2310,
        "y": 860,
        "wires": [
            [
                "ce1c40032ad105a3",
                "7f3f6a37046d3b78"
            ],
            [
                "11a566f0a43ab195",
                "f3416528e38331c7",
                "f37c7989ba277c9b",
                "ac959ccb4a51f9cc"
            ]
        ]
    },
    {
        "id": "e6a0da2264f9fbe3",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "send time",
        "topic": "devreminder/node7/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 3020,
        "y": 920,
        "wires": []
    },
    {
        "id": "f3416528e38331c7",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 900,
        "wires": [
            [
                "e6a0da2264f9fbe3",
                "e07905e2c7baa9dc"
            ]
        ]
    },
    {
        "id": "e07905e2c7baa9dc",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "group": "bc478b77d9baae89",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 3010,
        "y": 880,
        "wires": []
    },
    {
        "id": "f37c7989ba277c9b",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 960,
        "wires": [
            [
                "213511c23451128d"
            ]
        ]
    },
    {
        "id": "3fc6e58b2333eb6a",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "send stop triger ",
        "topic": "devreminder/node7/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 3000,
        "y": 1000,
        "wires": []
    },
    {
        "id": "213511c23451128d",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2820,
        "y": 1000,
        "wires": [
            [
                "3fc6e58b2333eb6a"
            ]
        ]
    },
    {
        "id": "7f3f6a37046d3b78",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "notification",
        "topic": "devreminder/node7/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 2610,
        "y": 820,
        "wires": []
    },
    {
        "id": "38e4da9f29ab4e06",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "label": "Set Waktu",
        "group": "bc478b77d9baae89",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 1950,
        "y": 760,
        "wires": [
            [
                "4d276c187b21d324"
            ]
        ]
    },
    {
        "id": "a50feba5902bed9d",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 1965,
        "y": 820,
        "wires": [
            [
                "4d276c187b21d324"
            ]
        ]
    },
    {
        "id": "37b9d75070d6a2dc",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 2115,
        "y": 900,
        "wires": [
            [
                "2256e21b7e6e21e6"
            ]
        ]
    },
    {
        "id": "ce1c40032ad105a3",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 780,
        "wires": []
    },
    {
        "id": "ac959ccb4a51f9cc",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 920,
        "wires": [
            [
                "ce0418af66be462c"
            ]
        ]
    },
    {
        "id": "ce0418af66be462c",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "order": 1,
        "group": "bc478b77d9baae89",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 2830,
        "y": 940,
        "wires": []
    },
    {
        "id": "5c16ab8de5b9c46f",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "send stop triger ",
        "topic": "devreminder/node7/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e9d74a665a1b91e",
        "x": 3100,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f0bdff10207a479a",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2990,
        "y": 1180,
        "wires": []
    },
    {
        "id": "fac912712a97586c",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "topic": "devreminder/node7/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9d74a665a1b91e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2160,
        "y": 980,
        "wires": [
            [
                "daba6e19a70ba030",
                "fabfdc02bc3f6dd6"
            ]
        ]
    },
    {
        "id": "daba6e19a70ba030",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "group": "bc478b77d9baae89",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 2290,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fabfdc02bc3f6dd6",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "4cd3de97543c3192",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 1140,
        "wires": []
    },
    {
        "id": "88ceb9bbb9cc7084",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "f82f8e566f78f988",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2910,
        "y": 1660,
        "wires": [
            [
                "820a62f4ef7289ea",
                "5710b868745744e0"
            ]
        ]
    },
    {
        "id": "ec3d454e6197977a",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "group": "f82f8e566f78f988",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1930,
        "y": 1440,
        "wires": [
            [
                "ec3581a539fd5589"
            ]
        ]
    },
    {
        "id": "159554c71fe3386a",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 1440,
        "wires": [
            [
                "525d48bba9ca0bbc"
            ]
        ]
    },
    {
        "id": "525d48bba9ca0bbc",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "Countdown Timer",
        "group": "f82f8e566f78f988",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2990,
        "y": 1400,
        "wires": []
    },
    {
        "id": "1898b4c89d9b79d6",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 1340,
        "wires": [
            [
                "ec3581a539fd5589"
            ]
        ]
    },
    {
        "id": "ec3581a539fd5589",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 2310,
        "y": 1440,
        "wires": [
            [
                "d25a9546bd5db36d",
                "65a0d215f81866bb"
            ],
            [
                "159554c71fe3386a",
                "3a6f9c8c89e22728",
                "4c31c5229f09e6cf",
                "1cccec715085c2da"
            ]
        ]
    },
    {
        "id": "db217abfccb36e22",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "send time",
        "topic": "devreminder/node8/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3020,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3a6f9c8c89e22728",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 1480,
        "wires": [
            [
                "db217abfccb36e22",
                "f863a48f40ed8440"
            ]
        ]
    },
    {
        "id": "f863a48f40ed8440",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "group": "f82f8e566f78f988",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 3010,
        "y": 1460,
        "wires": []
    },
    {
        "id": "4c31c5229f09e6cf",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1540,
        "wires": [
            [
                "7663da50962d8d2b"
            ]
        ]
    },
    {
        "id": "e77ea7a3cab6e0a8",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "send stop triger ",
        "topic": "devreminder/node8/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3000,
        "y": 1580,
        "wires": []
    },
    {
        "id": "7663da50962d8d2b",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2820,
        "y": 1580,
        "wires": [
            [
                "e77ea7a3cab6e0a8"
            ]
        ]
    },
    {
        "id": "65a0d215f81866bb",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "notification",
        "topic": "devreminder/node8/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 2610,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ca5735e3d28fc322",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "label": "Set Waktu",
        "group": "f82f8e566f78f988",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 1950,
        "y": 1340,
        "wires": [
            [
                "1898b4c89d9b79d6"
            ]
        ]
    },
    {
        "id": "b4e0b3f71bca318e",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 1965,
        "y": 1400,
        "wires": [
            [
                "1898b4c89d9b79d6"
            ]
        ]
    },
    {
        "id": "eb474a2c93bb2d88",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 2115,
        "y": 1480,
        "wires": [
            [
                "ec3581a539fd5589"
            ]
        ]
    },
    {
        "id": "d25a9546bd5db36d",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1cccec715085c2da",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 1500,
        "wires": [
            [
                "1e4705cc163da038"
            ]
        ]
    },
    {
        "id": "1e4705cc163da038",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "order": 1,
        "group": "f82f8e566f78f988",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 2830,
        "y": 1520,
        "wires": []
    },
    {
        "id": "820a62f4ef7289ea",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "send stop triger ",
        "topic": "devreminder/node8/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3100,
        "y": 1640,
        "wires": []
    },
    {
        "id": "5710b868745744e0",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2990,
        "y": 1760,
        "wires": []
    },
    {
        "id": "69fc0ae16dff6914",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "topic": "devreminder/node8/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fe847aaecdc159b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2160,
        "y": 1560,
        "wires": [
            [
                "8625eb2947fe2f37",
                "ce3488af933ad116"
            ]
        ]
    },
    {
        "id": "8625eb2947fe2f37",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "group": "f82f8e566f78f988",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 2290,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ce3488af933ad116",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "35c20e169c6b281a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d4961ad3b45267c3",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "cd12495eed6d4fa5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2910,
        "y": 2240,
        "wires": [
            [
                "d6b1b597faa57f29",
                "c80b42be87b752c0"
            ]
        ]
    },
    {
        "id": "0b59e4d27465fe3c",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "group": "cd12495eed6d4fa5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1930,
        "y": 2020,
        "wires": [
            [
                "af5ccf420c6bed81"
            ]
        ]
    },
    {
        "id": "c2f624cd88576c61",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 2020,
        "wires": [
            [
                "0629fedb4534ac13"
            ]
        ]
    },
    {
        "id": "0629fedb4534ac13",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "Countdown Timer",
        "group": "cd12495eed6d4fa5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2990,
        "y": 1980,
        "wires": []
    },
    {
        "id": "bfebdd0c31064928",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 1920,
        "wires": [
            [
                "af5ccf420c6bed81"
            ]
        ]
    },
    {
        "id": "af5ccf420c6bed81",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 2310,
        "y": 2020,
        "wires": [
            [
                "3ab2b49617dc9d5d",
                "bf7a1f2cbacb007b"
            ],
            [
                "c2f624cd88576c61",
                "39e3b0f405c6a000",
                "48ef4ad524c902a1",
                "d67d0b01105135c5"
            ]
        ]
    },
    {
        "id": "bbb7ea9a23b71680",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "send time",
        "topic": "devreminder/node9/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3020,
        "y": 2080,
        "wires": []
    },
    {
        "id": "39e3b0f405c6a000",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 2060,
        "wires": [
            [
                "bbb7ea9a23b71680",
                "2ed4e4906f5f868f"
            ]
        ]
    },
    {
        "id": "2ed4e4906f5f868f",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "group": "cd12495eed6d4fa5",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 3010,
        "y": 2040,
        "wires": []
    },
    {
        "id": "48ef4ad524c902a1",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 2120,
        "wires": [
            [
                "c93ce9551c8363af"
            ]
        ]
    },
    {
        "id": "a7b415c2aa13b5da",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "send stop triger ",
        "topic": "devreminder/node9/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3000,
        "y": 2160,
        "wires": []
    },
    {
        "id": "c93ce9551c8363af",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2820,
        "y": 2160,
        "wires": [
            [
                "a7b415c2aa13b5da"
            ]
        ]
    },
    {
        "id": "bf7a1f2cbacb007b",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "notification",
        "topic": "devreminder/node9/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 2610,
        "y": 1980,
        "wires": []
    },
    {
        "id": "f19a7669f51514d2",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "label": "Set Waktu",
        "group": "cd12495eed6d4fa5",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 1950,
        "y": 1920,
        "wires": [
            [
                "bfebdd0c31064928"
            ]
        ]
    },
    {
        "id": "77bac628ef05609e",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 1965,
        "y": 1980,
        "wires": [
            [
                "bfebdd0c31064928"
            ]
        ]
    },
    {
        "id": "d2f03a11488b52f5",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 2115,
        "y": 2060,
        "wires": [
            [
                "af5ccf420c6bed81"
            ]
        ]
    },
    {
        "id": "3ab2b49617dc9d5d",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 1940,
        "wires": []
    },
    {
        "id": "d67d0b01105135c5",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 2080,
        "wires": [
            [
                "ec989e24eba65c7f"
            ]
        ]
    },
    {
        "id": "ec989e24eba65c7f",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "order": 1,
        "group": "cd12495eed6d4fa5",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 2830,
        "y": 2100,
        "wires": []
    },
    {
        "id": "d6b1b597faa57f29",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "send stop triger ",
        "topic": "devreminder/node9/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3100,
        "y": 2220,
        "wires": []
    },
    {
        "id": "c80b42be87b752c0",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2990,
        "y": 2340,
        "wires": []
    },
    {
        "id": "e8ba18191c56ae1a",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "topic": "devreminder/node9/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fe847aaecdc159b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2160,
        "y": 2140,
        "wires": [
            [
                "f820d9775d01d39b",
                "bd1646fea097cf9d"
            ]
        ]
    },
    {
        "id": "f820d9775d01d39b",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "group": "cd12495eed6d4fa5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 2290,
        "y": 2220,
        "wires": []
    },
    {
        "id": "bd1646fea097cf9d",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "04a3e43dea53dbdc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 2300,
        "wires": []
    },
    {
        "id": "cee13b32bb47f8e8",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "8b75b9a83d4e8c6b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2910,
        "y": 2840,
        "wires": [
            [
                "59983af57c63cf5e",
                "7e4a16dfd8ec8d98"
            ]
        ]
    },
    {
        "id": "0f90c68786a65e73",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "group": "8b75b9a83d4e8c6b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1930,
        "y": 2620,
        "wires": [
            [
                "8e9f735e03f61bb7"
            ]
        ]
    },
    {
        "id": "5d5a7a8d82ce2b42",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 2620,
        "wires": [
            [
                "0161b92cc804e718"
            ]
        ]
    },
    {
        "id": "0161b92cc804e718",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "Countdown Timer",
        "group": "8b75b9a83d4e8c6b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2990,
        "y": 2580,
        "wires": []
    },
    {
        "id": "d7baef4657442953",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 2520,
        "wires": [
            [
                "8e9f735e03f61bb7"
            ]
        ]
    },
    {
        "id": "8e9f735e03f61bb7",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 2310,
        "y": 2620,
        "wires": [
            [
                "d2befa162eb5c717",
                "7ffa5ea728d3e196"
            ],
            [
                "5d5a7a8d82ce2b42",
                "199d7a3c35e3c9d7",
                "06dc3001d118a5c9",
                "3bae7a5209732256"
            ]
        ]
    },
    {
        "id": "3a9109ee68871feb",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "send time",
        "topic": "devreminder/node10/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3020,
        "y": 2680,
        "wires": []
    },
    {
        "id": "199d7a3c35e3c9d7",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 2660,
        "wires": [
            [
                "3a9109ee68871feb",
                "61d1ef2c3298fee0"
            ]
        ]
    },
    {
        "id": "61d1ef2c3298fee0",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "group": "8b75b9a83d4e8c6b",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 3010,
        "y": 2640,
        "wires": []
    },
    {
        "id": "06dc3001d118a5c9",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 2720,
        "wires": [
            [
                "e069763e522c8f4a"
            ]
        ]
    },
    {
        "id": "1186c6f6083691d9",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "send stop triger ",
        "topic": "devreminder/node10/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3000,
        "y": 2760,
        "wires": []
    },
    {
        "id": "e069763e522c8f4a",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2820,
        "y": 2760,
        "wires": [
            [
                "1186c6f6083691d9"
            ]
        ]
    },
    {
        "id": "7ffa5ea728d3e196",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "notification",
        "topic": "devreminder/node10/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 2610,
        "y": 2580,
        "wires": []
    },
    {
        "id": "ad509bede8baace8",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "label": "Set Waktu",
        "group": "8b75b9a83d4e8c6b",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 1950,
        "y": 2520,
        "wires": [
            [
                "d7baef4657442953"
            ]
        ]
    },
    {
        "id": "d0b7a1afd2f94bc5",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "node1link",
        "links": [
            "2c703af438f27223",
            "43c8b73bc03e1f20"
        ],
        "x": 1965,
        "y": 2580,
        "wires": [
            [
                "d7baef4657442953"
            ]
        ]
    },
    {
        "id": "e486a82fc7e2c3a7",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a",
            "85f585361dc16e6d"
        ],
        "x": 2115,
        "y": 2660,
        "wires": [
            [
                "8e9f735e03f61bb7"
            ]
        ]
    },
    {
        "id": "d2befa162eb5c717",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 2540,
        "wires": []
    },
    {
        "id": "3bae7a5209732256",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2570,
        "y": 2680,
        "wires": [
            [
                "efbd2a0e1fc13433"
            ]
        ]
    },
    {
        "id": "efbd2a0e1fc13433",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "order": 1,
        "group": "8b75b9a83d4e8c6b",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 2830,
        "y": 2700,
        "wires": []
    },
    {
        "id": "59983af57c63cf5e",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "send stop triger ",
        "topic": "devreminder/node10/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 3100,
        "y": 2820,
        "wires": []
    },
    {
        "id": "7e4a16dfd8ec8d98",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2990,
        "y": 2940,
        "wires": []
    },
    {
        "id": "73dec4e64cc5f140",
        "type": "mqtt in",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "topic": "devreminder/node10/sub",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fe847aaecdc159b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2170,
        "y": 2740,
        "wires": [
            [
                "106bd7ca95c20110",
                "dbd54d7cbe19631c"
            ]
        ]
    },
    {
        "id": "106bd7ca95c20110",
        "type": "ui_level",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "group": "8b75b9a83d4e8c6b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#37ff00",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "85",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 2290,
        "y": 2820,
        "wires": []
    },
    {
        "id": "dbd54d7cbe19631c",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "148aa75564f355df",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 2900,
        "wires": []
    },
    {
        "id": "864d8920e81a455a",
        "type": "ui_group",
        "name": "universal input",
        "tab": "a5f752850bbf2040",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10f37fc7e1b27d50",
        "type": "ui_group",
        "name": "Node 1",
        "tab": "1fe844ae8607ac31",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e9d74a665a1b91e",
        "type": "mqtt-broker",
        "name": "1-7 & 29-30",
        "broker": "test.mosquitto.org ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c0a2a6c8fc08b789",
        "type": "ui_group",
        "name": "Node 2",
        "tab": "1fe844ae8607ac31",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1e0702da29b2a0f",
        "type": "ui_group",
        "name": "Node 3",
        "tab": "1fe844ae8607ac31",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3e9389655fcea5b",
        "type": "ui_group",
        "name": "Node 4",
        "tab": "1fe844ae8607ac31",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "206a637632167cea",
        "type": "ui_group",
        "name": "Node 5",
        "tab": "1fe844ae8607ac31",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "645256500ef51085",
        "type": "ui_group",
        "name": "Node 6",
        "tab": "1fe844ae8607ac31",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc478b77d9baae89",
        "type": "ui_group",
        "name": "Node 7",
        "tab": "1fe844ae8607ac31",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f82f8e566f78f988",
        "type": "ui_group",
        "name": "Node 8",
        "tab": "1fe844ae8607ac31",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fe847aaecdc159b",
        "type": "mqtt-broker",
        "name": " 8-14 & 31-32",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cd12495eed6d4fa5",
        "type": "ui_group",
        "name": "Node 9",
        "tab": "1fe844ae8607ac31",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b75b9a83d4e8c6b",
        "type": "ui_group",
        "name": "Node 10",
        "tab": "1fe844ae8607ac31",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5f752850bbf2040",
        "type": "ui_tab",
        "name": "Universal ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fe844ae8607ac31",
        "type": "ui_tab",
        "name": "Section 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]