final/14022022.json
[
    {
        "id": "f934f77c78ca1d43",
        "type": "tab",
        "label": "Project Reminder",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b2d7c7b3679c9c1",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a6c621e18dcabfd2",
            "b93a197cddef327e",
            "2c703af438f27223",
            "a39d74594f52484a"
        ],
        "x": 14,
        "y": 79,
        "w": 352,
        "h": 122
    },
    {
        "id": "3788611f2d85d63d",
        "type": "group",
        "z": "f934f77c78ca1d43",
        "name": "Node 1",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "label-position": "n"
        },
        "nodes": [
            "960f50a7c5689bc4",
            "dcf181e111e70028",
            "7c6831be4024ee7e",
            "c147bc86fff844c9",
            "78d0a02a0b217e1d",
            "b11e28bd22f0b456",
            "1e889091ce1439f4",
            "51abb8fc88b43428",
            "2f2ef440a1a4252e",
            "35a6dafebb28bfa9",
            "0fa4d70a2921fdaa",
            "c2191f6ba6187e1a",
            "49c1764922582146",
            "a65ca9740634efdb",
            "a89c60b821d1388e",
            "9f84052f6379e3c6"
        ],
        "x": 474,
        "y": 639,
        "w": 1152,
        "h": 342
    },
    {
        "id": "960f50a7c5689bc4",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "",
        "group": "c0a2a6c8fc08b789",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 800,
        "wires": [
            [
                "78d0a02a0b217e1d"
            ]
        ]
    },
    {
        "id": "dcf181e111e70028",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 800,
        "wires": [
            [
                "7c6831be4024ee7e"
            ]
        ]
    },
    {
        "id": "7c6831be4024ee7e",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "Countdown Timer",
        "group": "c0a2a6c8fc08b789",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1510,
        "y": 760,
        "wires": []
    },
    {
        "id": "c147bc86fff844c9",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 700,
        "wires": [
            [
                "78d0a02a0b217e1d"
            ]
        ]
    },
    {
        "id": "78d0a02a0b217e1d",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "half",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 930,
        "y": 800,
        "wires": [
            [
                "c2191f6ba6187e1a",
                "49c1764922582146"
            ],
            [
                "1e889091ce1439f4",
                "dcf181e111e70028",
                "2f2ef440a1a4252e"
            ]
        ]
    },
    {
        "id": "b11e28bd22f0b456",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "send time",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1540,
        "y": 860,
        "wires": []
    },
    {
        "id": "1e889091ce1439f4",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 840,
        "wires": [
            [
                "51abb8fc88b43428",
                "b11e28bd22f0b456"
            ]
        ]
    },
    {
        "id": "51abb8fc88b43428",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "group": "c0a2a6c8fc08b789",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1530,
        "y": 820,
        "wires": []
    },
    {
        "id": "2f2ef440a1a4252e",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 900,
        "wires": [
            [
                "0fa4d70a2921fdaa"
            ]
        ]
    },
    {
        "id": "35a6dafebb28bfa9",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "send stop triger ",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1280,
        "y": 940,
        "wires": []
    },
    {
        "id": "0fa4d70a2921fdaa",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 940,
        "wires": [
            [
                "35a6dafebb28bfa9"
            ]
        ]
    },
    {
        "id": "c2191f6ba6187e1a",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 700,
        "wires": []
    },
    {
        "id": "49c1764922582146",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "notification",
        "topic": "devreminder/node2/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1350,
        "y": 680,
        "wires": []
    },
    {
        "id": "a65ca9740634efdb",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "",
        "label": "Set Waktu",
        "group": "c0a2a6c8fc08b789",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "c147bc86fff844c9"
            ]
        ]
    },
    {
        "id": "ef5015eca82c87dd",
        "type": "ui_template",
        "z": "f934f77c78ca1d43",
        "group": "",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-color:#121212!important;\n    }\n    .md-toolbar-tools{\n         background-color:#1E1E1E!important;\n    \n    }\n    .nr-dashboard-theme ui-card-panel{\n        background-color:#1E1E1E!important;\n        border:0!important;\n       \n    }\n    md-card{\n        background-color:#1E1E1E!important;\n        \n    }\n    md-card p{\n        color:#fff!important;\n    }\n    \n    text{\n    background-color:#fff!important;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-gauge text {\n    fill: #eeeeee;\n    margin: 8px;\n}\n    \n    .md-button{\n\n    }\n        \n    \n    .md-button:hover{\n  \n    }\n        \n    input, label{\n        color:#fff!important;\n    }   \n    \n   .nr-dashboard-text p{\n        font-size:30px!important;\n    }\n        \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 100,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a6c621e18dcabfd2",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "label": "Set Waktu Universal",
        "group": "864d8920e81a455a",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2c703af438f27223"
            ]
        ]
    },
    {
        "id": "b93a197cddef327e",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "group": "864d8920e81a455a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Universal",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "a39d74594f52484a"
            ]
        ]
    },
    {
        "id": "a89c60b821d1388e",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "node2link",
        "links": [
            "2c703af438f27223"
        ],
        "x": 565,
        "y": 760,
        "wires": [
            [
                "c147bc86fff844c9"
            ]
        ]
    },
    {
        "id": "9f84052f6379e3c6",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "g": "3788611f2d85d63d",
        "name": "resetnode2link",
        "links": [
            "a39d74594f52484a"
        ],
        "x": 755,
        "y": 840,
        "wires": [
            [
                "78d0a02a0b217e1d"
            ]
        ]
    },
    {
        "id": "2c703af438f27223",
        "type": "link out",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "mode": "link",
        "links": [
            "33511e492e6a6d92",
            "a89c60b821d1388e"
        ],
        "x": 325,
        "y": 120,
        "wires": []
    },
    {
        "id": "a39d74594f52484a",
        "type": "link out",
        "z": "f934f77c78ca1d43",
        "g": "0b2d7c7b3679c9c1",
        "name": "",
        "mode": "link",
        "links": [
            "9f84052f6379e3c6",
            "d27a0173ead6b57c"
        ],
        "x": 315,
        "y": 160,
        "wires": []
    },
    {
        "id": "64cc34bb2a5c701c",
        "type": "ui_switch",
        "z": "f934f77c78ca1d43",
        "name": "",
        "label": "Peringatan",
        "tooltip": "",
        "group": "10f37fc7e1b27d50",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "warning",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1170,
        "y": 440,
        "wires": [
            [
                "5da913237604ee3d",
                "4e0fb2e3a416cbac"
            ]
        ]
    },
    {
        "id": "a697f6df3b48d012",
        "type": "ui_button",
        "z": "f934f77c78ca1d43",
        "name": "",
        "group": "10f37fc7e1b27d50",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"off\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "b036bba92824178c"
            ]
        ]
    },
    {
        "id": "e64e7316de7b1c3a",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "name": "detik ke menit",
        "func": "var menit = (msg.payload /60);\nmsg.payload=menit;\n\n\n//msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 240,
        "wires": [
            [
                "3cc0fac2530e36b2"
            ]
        ]
    },
    {
        "id": "3cc0fac2530e36b2",
        "type": "ui_gauge",
        "z": "f934f77c78ca1d43",
        "name": "Countdown Timer",
        "group": "10f37fc7e1b27d50",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Menit",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00f900"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1490,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c85566b7b7ef976",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "name": "menit ke detik",
        "func": "var detik = msg.payload.menit * 60;\n// msg.ui_control = {\"min\":0,\"max\":10, \"seg1\":0, \"seg2\":1}\nparseInt(detik);\n\nif(detik < 0){\n    detik = 0;\n}else{\nmsg.payload=\"{\\\"payload\\\": \\\"on\\\", \\\"timeout\\\":\" + detik + \", \\\"warning\\\": 30}\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "b036bba92824178c"
            ]
        ]
    },
    {
        "id": "b036bba92824178c",
        "type": "mytimeout",
        "z": "f934f77c78ca1d43",
        "name": "pengaturan waktu",
        "outtopic": "",
        "outsafe": "start",
        "outwarning": "",
        "outunsafe": "timeout",
        "warning": "",
        "timer": "",
        "debug": false,
        "ndebug": true,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "ab9db9242916d969",
                "8976237d2b59ceb3"
            ],
            [
                "e64e7316de7b1c3a",
                "3b254ad0b7fe73c3",
                "dc9f959d8c4be735",
                "3942c911664da9e2"
            ]
        ]
    },
    {
        "id": "5eb2172020f08692",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "name": "send time",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1520,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b254ad0b7fe73c3",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "name": "send time",
        "func": "// Hours\nvar Hours = ((msg.payload)/3600);\nHours = Math.floor(Hours);\n\n// Minutes\nvar Minutes = (msg.payload-(Hours*3600))/60;\nMinutes = Math.floor(Minutes);\n\n// Seconds\nvar Seconds = (msg.payload-(Hours*3600)-(Minutes*60));\n\n\n// Concatenate\nvar Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds +'  ').slice(-4);\n// var Time = (\"0\" +Hours).slice(-2)+\":\"+(\"0\" +Minutes).slice(-2)+\":\"+(\"0\" +Seconds).slice(-2);\nmsg.payload = Time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "5eb2172020f08692",
                "217c7ca1bf1fe0c1"
            ]
        ]
    },
    {
        "id": "217c7ca1bf1fe0c1",
        "type": "ui_text",
        "z": "f934f77c78ca1d43",
        "group": "10f37fc7e1b27d50",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1510,
        "y": 260,
        "wires": []
    },
    {
        "id": "dc9f959d8c4be735",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "name": "stop trigger",
        "func": "if (msg.payload == 0){\n    msg.payload = \"selesai\";\n    return msg;\n    }\nelse if(msg.payload == 905){\n    msg.payload = \"half\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "71ceabcce714e496"
            ]
        ]
    },
    {
        "id": "9fed0216679ec598",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "name": "send stop triger ",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "71ceabcce714e496",
        "type": "delay",
        "z": "f934f77c78ca1d43",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "9fed0216679ec598"
            ]
        ]
    },
    {
        "id": "44cce9beee311f89",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 120,
        "wires": []
    },
    {
        "id": "8976237d2b59ceb3",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "name": "notification",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "3951e6970b87ebc8",
        "type": "ui_form",
        "z": "f934f77c78ca1d43",
        "name": "",
        "label": "Set Waktu",
        "group": "10f37fc7e1b27d50",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Menit",
                "value": "menit",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "menit": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "inputNumber",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "5c85566b7b7ef976"
            ]
        ]
    },
    {
        "id": "33511e492e6a6d92",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "name": "node1link",
        "links": [
            "2c703af438f27223"
        ],
        "x": 565,
        "y": 200,
        "wires": [
            [
                "5c85566b7b7ef976"
            ]
        ]
    },
    {
        "id": "d27a0173ead6b57c",
        "type": "link in",
        "z": "f934f77c78ca1d43",
        "name": "resetnode1link",
        "links": [
            "a39d74594f52484a"
        ],
        "x": 715,
        "y": 280,
        "wires": [
            [
                "b036bba92824178c"
            ]
        ]
    },
    {
        "id": "ab9db9242916d969",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "3942c911664da9e2",
        "type": "function",
        "z": "f934f77c78ca1d43",
        "name": "LED",
        "func": "if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}else{\n    msg.payload = true;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "3481bc0a6f47b3fc"
            ]
        ]
    },
    {
        "id": "3481bc0a6f47b3fc",
        "type": "ui_led",
        "z": "f934f77c78ca1d43",
        "order": 1,
        "group": "10f37fc7e1b27d50",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1330,
        "y": 320,
        "wires": []
    },
    {
        "id": "5da913237604ee3d",
        "type": "mqtt out",
        "z": "f934f77c78ca1d43",
        "name": "send stop triger ",
        "topic": "devreminder/node1/pub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fe847aaecdc159b",
        "x": 1360,
        "y": 460,
        "wires": []
    },
    {
        "id": "4e0fb2e3a416cbac",
        "type": "debug",
        "z": "f934f77c78ca1d43",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 420,
        "wires": []
    },
    {
        "id": "c0a2a6c8fc08b789",
        "type": "ui_group",
        "name": "Node 2",
        "tab": "1fe844ae8607ac31",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fe847aaecdc159b",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "864d8920e81a455a",
        "type": "ui_group",
        "name": "universal input",
        "tab": "a5f752850bbf2040",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10f37fc7e1b27d50",
        "type": "ui_group",
        "name": "Node 1",
        "tab": "1fe844ae8607ac31",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fe844ae8607ac31",
        "type": "ui_tab",
        "name": "Section 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5f752850bbf2040",
        "type": "ui_tab",
        "name": "Universal ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]